.a-outline{
    border-style: solid;
    border-color: #006D77;
    border-width: 1px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 145px;
    text-align: center;
    text-decoration: none;
    color: #006D77;
}
.color-palette-white{
    color: white;
}
.color-palette-1{
    color: #006D77;
}
.bg-palette-1{
    background-color: #006D77;
}
.bg-palette-3{
    background-color: #EDF6F9;
}
.homepage-media-body-col{
    padding-top: 50px;
}
.homepage-icon-benefit{
    text-align: center;
    font-size: 75px;
}
.a-outline:hover{
    border-style: solid;
    background-color: #005158;
    border-color: #005158;
    border-width: 1px;
    border-radius: 50px;
    width: 145px;
    text-align: center;
    color: white!important;
    text-decoration: none;
}
.a-fill{
    border-style: solid;
    border-color: #006D77;
    border-width: 1px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #006D77;
    color: white;
}

.a-fill:hover{
    background-color: #005158;
    border-color: #005158;
    color: white;
    text-decoration: none;
}

.homepage-banner{
    background-image: url('https://images.unsplash.com/photo-1557426272-fc759fdf7a8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 650px;
}


.homepage-banner-container{
    margin-top: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px;
}